{% load widget_tweaks %}
{% load i18n %}

<div class="modal-body scroll-y mx-5 mx-xl-15 mb-7 ">
    <form 
            id="sg_create_store_form"  
            class="form"         
            hx-post="{% url 'authentication:change_password' c_user.pk %}"       
            hx-target="#kt_modal_content"
            method="post"
            novalidate
        >
        {% csrf_token %}
    
        <div class="mb-13 text-center">
            <h1 class="mb-3">{% trans "Modifier le mot de passe" %}</h1>
        </div>
        {% with WIDGET_ERROR_CLASS='is-invalid' %}  
            <div class="-flex flex-column mb-4 fv-row">
                <label class="mb-1" for="id_email"  style="font-size: 1.2em;">Email</label>
                <input type="email" name="email" value="{{c_user.email}}" id="id_email" class="form-control" disabled required>
            </div>       
            <div class="mb-6">
                {{ form.as_div }}
            </div>
             
        {% endwith %}       
        <div class="text-center">   
            <button type="reset" id="sg_create_store_form" class="btn btn-light me-3" data-bs-dismiss="modal">{% trans "Annulé" %}</button>
            {% include 'snippets/_submit_button.html' %}
        </div>
    </form>
</div>
