{% extends "accounts/auth_base.html" %}
{% load i18n %}

{% block title %}{% translate "Mot de passe réinitialisé" %} · sub360{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-dark fw-bolder mb-3">{% translate "Mot de passe mis à jour" %}</h1>
    <div class="text-gray-500 fw-semibold fs-6 mb-8">
        {% translate "Votre mot de passe a été modifié. Vous pouvez maintenant vous connecter." %}
    </div>
    <a href="{% url 'users:login' %}" class="btn btn-primary">{% translate "Se connecter" %}</a>
</div>
{% endblock %}
