{% load i18n %}
<div class="mb-10">
    <h2 class="fw-bold text-gray-900 mb-2">{% translate "Votre profil public" %}</h2>
    <div class="text-gray-500 fw-semibold fs-6">
        {% translate "Présentez votre entreprise aux clients de la plateforme." %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {% include "components/form_field.html" with field=form.profile_photo %}
        {% if subcontractor.profile_photo %}
            <img src="{{ subcontractor.profile_photo.url }}" alt="" loading="lazy"
                 class="rounded mb-7 mw-100 h-80px object-fit-cover"/>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% include "components/form_field.html" with field=form.cover_photo %}
        {% if subcontractor.cover_photo %}
            <img src="{{ subcontractor.cover_photo.url }}" alt="" loading="lazy"
                 class="rounded mb-7 mw-100 h-80px object-fit-cover"/>
        {% endif %}
    </div>
</div>

{% include "components/form_field.html" with field=form.location %}
{% include "components/form_field.html" with field=form.introduction %}
