{% load static i18n django_htmx %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'fr' }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Sub360{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}" />
    {% block page_head %}
    <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fonts/inter.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    
    {% block extra_css %}{% endblock %}
    {% endblock page_head %}
    {% htmx_script %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body id="kt_body" class="app-default" direction="ltr" dir="ltr">
	<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            {% include "navbar.html" %}
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <div class="d-flex flex-column flex-column-fluid">
                        <div class="app-toolbar py-3 py-lg-6">
                            <div class="app-container container-xxl d-flex flex-stack">
                                <h1 class="page-heading text-dark fw-bold fs-3 my-0">
                                    {% block page_title %}{% endblock %}
                                </h1>
                            </div>
                        </div>
                        <div class="app-content flex-column-fluid">
                            <div class="app-container container-xxl">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags|default:'info' }} d-flex align-items-center p-4 mb-4">
                                            <span>{{ message }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% block app %}{% block content %}{% endblock %}{% endblock %}
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags|default:'info' }} d-flex align-items-center p-4 mb-4">
                                        <span>{{ message }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% block footer %}
                    {% include 'footer.html' %}
                {% endblock footer %}

            </div>
        </div>
    </div>

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-outline ki-arrow-up"></i>
    </div>

    <div class="modal fade" id="kt_modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content" id="kt_modal_content"></div>
        </div>
    </div>
    <div class="modal fade" id="kt_modal_stacked_2" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <div class="modal-content" id="kt_modal_stacked_2_content"></div>
        </div>
    </div>

    <div class="modal fade" id="delete_modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mw-450px">
            <div class="modal-content" id="delete_modal_body"></div>
        </div>
    </div>

    <script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'js/scripts.bundle.js' %}"></script>
    <script defer src="{% static 'js/octopus.js' %}" defer></script>
    <script src="{% static 'js/toast.js' %}" defer></script>
    <script src="{% static 'js/formset.js' %}" defer></script>
    
    {% block extra_js %}{% endblock %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
</body>
</html>
